:root {
  --lightpurple-color: hsl(254, 88%, 90%);
  --darkpruple-color: hsl(256, 67%, 59%);
  --lightYellow-color: hsl(31, 66%, 93%);
  --darkYellow-color: hsl(39, 100%, 71%);
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%, 7%);
}

@font-face {
  font-family: DMsans;
  src: url(assets/fonts/DMSans-VariableFont_opsz,wght.ttf) format('truetype');
}

@font-face {
  font-family: DMsansI;
  src: url(assets/fonts/DMSans-Italic-VariableFont_opsz,wght.ttf) format('truetype');
}

h1, h2, p {
  font-family: DMsans, arial, 'sans serif';
}

h1 {
  font-weight: 500;
  font-size: 3rem;
  line-height: 1.5vw;
}

h2 {
  font-weight: 500;
}

p {
  font-weight: 400;
  font-size: 1rem;
}

body {
  background-color: var(--white-color);
  display: grid;
  justify-items: center;
  align-items: center;
}

.box{
  padding: 2rem 0;
  margin: 0.75rem;
  width: 85vw;
  border-radius: 0.75rem;
  display: grid;
  justify-items: center;
  align-items: center;
}

.box3, .box7{
  background-color:var(--darkpruple-color);
  text-align: center;
  color: var(--white-color);
}
